/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Header */
header {
  background-color: #23176698;
  color: #fff;
  display: flex;
  justify-content: space-between; /* Align items with space between */
  align-items: center;
  padding: 10px;
  font-family: 'Courgette', cursive;
  font-size:x-large
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 10px;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  width: 50%;
}

/* Navigation Bar */
nav {
  background-color: #5e5d5d;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 10px;
}
nav button {
  border: none;
  font-size: 1em;
  width: 30%;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
}
nav button.home {
  background-color: #6d6c6c;
}
nav button.about {
  background-color: #6d6c6c;
}
nav button.contact {
  background-color: #6d6c6c;
}
nav button:hover {
  /*background-color: transparent; */
  color: white;
}
nav a {
  color: white; /* Set link text color */
  text-decoration: none; /* Remove underline from link so it looks more like a button */
}
nav a:hover {
  color: red; /* Change text color on hover */
}
nav button.active {   /* Add nav button color just on the active page */
  background-color: #2ecc71; 
}

/* Footer */
footer {
  background-color: #444;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.footer-logo-container {
  display: flex;
  align-items: center;
}
.footer-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.footer-text {
  text-align: center;
  flex: 1;
}

/* Contact form */
.contact-form {
  margin: 20px auto;
  max-width: 70%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
}
.contact-form input,.contact-form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}
.contact-form div {
   display: flex; /* Display radio buttons side by side */
   /*align-items: baseline; /* Vertically align radio buttons */
   margin-top: 10px;
   justify-content: center;
}
/*  Add spacing between radio buttons
.contact-form input[type="radio"] {
  margin-right: 5px;  
}*/
.radio-buttons {
  display: flex;
  gap: 5%; /* Adjust the gap between radio buttons as needed */
  align-items: center;
}

/* Main Section Styles */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr)); /* Adjust as needed */
  gap: 5px; /* Adjust the gap between sub-sections */
  width:68%;
  float: left;
  padding-top: 15px;  
  padding-bottom: 15px;
  padding-left: 1%;
}

/* Side Section Styles */
.side {
  float: right;
  width: 26%;
  padding:2%;
  font-weight: bolder;
  
 }
 
 .sub-section {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.side-section {
  background-color: #2ecc71;
  border: 10px solid white;
  padding: 10px;
  text-align: center;
}

.side-section:hover {
  /*background-color: transparent; */
  s
}

/* Add responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Adjust for smaller screens */
    gap: 2px; /* Adjust the gap for smaller screens */  
    width: 100%; 
    float: none;   
  }
  .side {
    float: none;
    width: 100%;
  }
}



